# Zależności (bardzo duży folder, instalowany przez npm/yarn)
node_modules

# Pliki konfiguracyjne i sekrety (BARDZO WAŻNE - nigdy nie wysyłaj do repozytorium)
.env

# Foldery budowania aplikacji (generowane automatycznie)
dist
build